body{
    background: #0c1013 ;
}

#navbar-color{
    background: #0c1013;
    padding: 20px;
    color: #ecf0f3;
}
.colores{
    color:#ecf0f3;
    color:#cfe2f3;
    color:#5e98ce;
    color:#1369ab;
    color:#0c1013;
}
#color-text{
    font-size: 20px;
    color:#ecf0f3;
}
#carousel{
    position:relative;
}
#carousel .overlay{
    position:absolute;
}
#main .carousel-inner img{
    max-height: 80vh;
    object-fit: cover;
    filter: grayscale(30%);
}
.carousel-inner{
    transition:1s;
}
#footer{
    background:#0c1013;
}
.texto-footer { 
    text-decoration: none;
    color:#ecf0f3;
}
:hover .texto-footer { 
    color:#f3f3ec;
    transition: 1s;
}